@font-face {
    font-family: "Syne";
    src: url("../font/Syne/Syne-VariableFont_wght.ttf") format('truetype');
    font-weight: 400 800;
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("../font/Overpass/Overpass-VariableFont_wght.ttf") format('truetype');
    font-weight: 400 800;
    font-style: normal;
}

header {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
}

header,
body,
.header-menu {
    background-color: var(--color-bg);
    background-image: url("/assets/images/LogoBG.svg");
    background-repeat: repeat;
    background-size: 20px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    z-index: 1000;

    svg {
        width: 66px;
    }
}

.header-menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.language-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 1000;
}

.header-button {
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-normal);
    border: 3px solid transparent;
    background: none;
    cursor: pointer;
    padding: 4px 6px;
    color: var(--color-primary);
    transition: border-color 0.2s;
}

.header-button {
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 12%;
        width: 0;
        height: 2px;
        background-color: var(--color-secondary);
        transition: width 0.2s ease;
    }

    &:hover {
        &::after {
            width: 40%;
        }
    }
}


.header-button.active {
    border-color: var(--color-secondary);
}

.button-text {
    position: relative;
    display: inline-block;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    z-index: 1100;
}

.burger-icon,
.close-icon {
    width: 44px;
    height: 38px;
    transition: opacity 0.2s;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.hiddenBlock {
    display: block !important;
    visibility: hidden !important;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-bg);
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition:
        transform 0.45s cubic-bezier(0.77, 0, 0.18, 1),
        opacity 0.35s ease,
        visibility 0s linear 0.45s;
}

.nav-overlay.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition:
        transform 0.45s cubic-bezier(0.77, 0, 0.18, 1),
        opacity 0.35s ease,
        visibility 0s linear 0s;
}

.nav-overlay-inner {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.overlay-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* gap: 60px;
    margin-top: 70px; */
}

.menu-item {
    position: relative;
    padding: 12px 24px;
}

.menu-item a {
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-96);
    line-height: 100%;
    text-align: center;
    display: block;
    padding: 32px 32px;
}

.menu-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 40px;
    background: var(--color-primary);
}

.menu-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 4px;
    background: var(--color-primary);
}

.menu-item a.hover-in::after {
    animation: bottomIn 0.8s linear forwards;
}

.menu-item a.hover-in::before {
    animation: leftOut 0.2s linear forwards;
}

.menu-item a.hover-out::after {
    animation: bottomOut 0.3s linear forwards;
}

@keyframes bottomIn {
    0% {
        width: 100%;
    }

    50% {
        right: 50%;
    }

    100% {
        width: 50%;
        left: 50%
    }
}

@keyframes bottomOut {
    from {
        width: 100%;
    }

    to {
        width: 40px;
    }
}


@keyframes leftIn {
    from {
        height: 0;
    }

    to {
        height: 40px;
    }
}

@keyframes leftOut {
    from {
        height: 40px;
    }

    to {
        height: 0px;
    }
}


.overlay-footer {
    background: var(--color-primary);
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);
    /* padding-top: 96px; */
}

.wrapper {
    padding: 64px max(calc(50% - 720px), 64px);
    /* padding-top: 0px; */
}

.say-hi {
    color: var(--color-bg);
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: var(--fs-78);
    line-height: 100%;
    text-align: inherit;
    margin-bottom: 24px;
    text-decoration: none;
}

.say-hi:hover {
    color: var(--color-secondary);
}

.overlay-mail {
    color: #fff;
    font-family: "Overpass";
    font-size: var(--fs-normal);
    margin: 16px 0 0 0;
}

.overlay-icons {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.overlay-icons>a {
    padding: 20px 20px;
}

.overlay-icons>a:hover {
    transform: translateY(-20px);
    filter: drop-shadow(0 0 0.75rem var(--color-secondary));
}

.header-main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
}

.scale-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    font-size: var(--fs-128);
    font-style: inherit;
    font-weight: 800;
    letter-spacing: -2.5%;
    text-align: center;
}

h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: var(--fs-78);
    line-height: 100%;
    text-align: start;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}

h2:hover {
    color: var(--color-secondary);
}

.seperator-wrapper {
    display: flex;
    align-items: center;
}

.seperator {
    flex: 1;
    height: 3px;
    background-color: var(--color-primary);

}

.main-footer {
    flex-grow: 1;
}

.name {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-48);
    line-height: 100%;
    letter-spacing: -0.025em;
    color: var(--color-secondary);
    padding-left: 36px;
}

.rotate {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.025em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


.right-side-animation,
.right-side-text {
    width: 60px;
}

.right-side-animation {
    overflow: hidden;
    height: 200px;
}

.right-side-text {
    text-align: center;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: var(--color-primary);
}

.scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    animation: 2s linear 0s infinite normal running arrow;
}

@keyframes arrow {
    from {
        transform: translateY(-120px);
    }

    to {
        transform: translateY(200px);
    }
}

h3 {
    font-style: normal;
    font-size: var(--fs-78);
    letter-spacing: 1%;
    font-weight: 800;
    line-height: 100%;
    color: var(--color-primary);
}

.about-me {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0 0;
    }

    h3:hover {
        color: var(--color-secondary)
    }
}

.about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
}

.about-me-left {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}


.about-me-right {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 450px;
    filter: grayscale(100%);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-me-right:hover {
    filter: grayscale(0);
}

.about-me-right:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid var(--color-primary);
    animation: spin 0.2s linear forwards;
    z-index: 1;


}

article {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-24);
    line-height: 120%;
    margin-bottom: 24px;
    padding-right: 100px;
}

.article-svg {
    display: flex;
    flex-direction: column;
}

.article-svg p {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    align-items: center;

    a {
        padding: 12px 14px;
        width: clamp(180px, 40vw, 250px);
        background: none;
        border: 4px solid var(--color-primary);
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: var(--fs-24);
        line-height: 120%;
        color: var(--color-primary);
        cursor: pointer;
        text-align: center;
        transition: width 0.2s ease-in-out;
        text-decoration: none;

    }

    a:hover {
        width: clamp(220px, 35vw, 300px);
    }
}

.button-contact {}

.button-wrapper {
    & button {
        padding: 12px 0;
        width: clamp(180px, 30vw, 240px);
        background: none;
        border: 4px solid var(--color-primary);
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: var(--fs-24);
        line-height: 120%;
        color: var(--color-primary);
        cursor: pointer;
        transition: width 0.2s ease-in-out;
    }
}

.button-style {
    background-color: var(--color-bg);
    padding-top: 20px;
    padding-right: 60px;
    border: 4px solid var(--color-primary);
    font-family: Overpass;
    font-weight: 400;
    font-size: var(--fs-24);
    line-height: 120%;
}



.arrow-right-side {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 280px;
    animation: moveDiagonal 3.5s linear forwards infinite;
}

@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-60px, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.skills {
    border: 4px solid var(--color-primary);
    padding: 40px 60px;
    position: relative;

    font-family: "Overpass";
}

.skills h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    padding: 0 2px;
    text-align: center;
    width: max-content;

}

.my-skills:hover {
    color: var(--color-secondary);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 20px;
    margin-top: 75px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

.skill-item:hover {
    animation: logoMorph 0.4s ease-in-out;
    color: var(--color-secondary);
}

@keyframes logoMorph {
    0% {
        transform: translate(10px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-10px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(13px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-13px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.skills-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 240px;
    font-size: var(--fs-22);
}

.skills-footer p {
    font-size: var(--fs-20);
    padding: 8px;
}

.skills-footer a {
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
    width: 120px;

}

.skills-footer>a:hover {
    font-weight: 700;
}

.skills-footer-wrapper {
    display: flex;
    align-items: center;
}

.arrow-left-side {
    display: flex;
    justify-content: flex-start;
    height: 280px;
    max-width: fit-content;
    animation: moveDiagonalTwo 3.5s linear forwards infinite;
}

@keyframes moveDiagonalTwo {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(60px, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-style: normal;
        font-weight: 800;
        font-size: var(--fs-78);
        line-height: 100%;
        letter-spacing: 0.01em;
        margin: 0 0 40px 0;
        display: flex;
        justify-content: center;
    }

    span {
        display: flex;
        justify-content: center;
        font-family: "Overpass";
        font-size: normal;
        font-weight: 400;
        font-size: var(--fs-22);
        line-height: 120%;
        text-align: center;
    }
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin-bottom: 80px;

    article {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.section-content p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-22);
    line-height: 120%;
    text-align: center;
    color: var(--color-primary);
}

.section-content>h2:hover {
    color: var(--color-secondary);
}

.portfolio-left,
.portfolio-right {
    position: relative;
    display: flex;
    margin-bottom: 160px;
    gap: 80px;
}

.portfolio-left {
    justify-content: flex-start;
}

.portfolio-right {
    flex-direction: row-reverse;
}

.portfolio-left:hover {
    .project-image::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 5px solid var(--color-primary);
        z-index: 1;
        pointer-events: none;
        animation: spin 0.2s linear forwards;
    }

    .project-image img {
        filter: grayscale(0);
    }

    .project-arrow {
        z-index: 20;
        animation: arrowPortfolio 0.2s linear forwards;
    }

    .project-info {
        animation: infoFade 0.2s linear forwards;
    }
}

.portfolio-right:hover {
    .project-image::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 5px solid var(--color-primary);
        z-index: 1;
        pointer-events: none;
        animation: spin-right 0.2s linear forwards;
    }

    .project-image img {
        filter: grayscale(0);
    }

    .project-arrow {
        z-index: 20;
        animation: arrowPortfolio-right 0.2s linear forwards;
    }

    .project-info {
        animation: infoFade 0.2s linear forwards;
    }
}

@keyframes spin-right {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-20px, 20px);
    }
}

@keyframes arrowPortfolio-right {
    from {
        opacity: 0.5;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(120deg);
    }
}

.project-image {
    position: relative;
    width: clamp(200px, 100%, 500px);
    height: auto;

    img {
        flex: 1;
        width: 100%;
        height: 100%;
        display: block;
        filter: grayscale(1);
        transition: filter 200ms ease;
    }
}

.project-arrow {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 10;
}

.portfolio-right .project-arrow {
    right: auto;
    left: -50px;
}

.arrow1 {
    position: absolute;
    z-index: 40;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    opacity: 0;


    h4 {
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: var(--fs-45);
        line-height: 100%;
        color: var(--color-primary);
    }

    span {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: var(--fs-24);
        line-height: 120%;
        display: flex;
        align-items: center;
        color: var(--color-secondary);
    }

    p {
        font-family: 'Overpass';
        font-style: normal;
        font-weight: 400;
        font-size: var(--fs-normal);
        line-height: 120%;
        color: var(--color-primary);
    }

    p>strong {
        color: var(--color-secondary);
    }
}

.project-info-right {
    align-items: flex-end;
}

.project-number {
    flex: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: baseline;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-45);
    line-height: 100%;
    color: var(--color-primary);
}

.project-number-right {
    justify-content: flex-end;
}

@keyframes spin {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(20px, 20px);
    }
}

@keyframes arrowPortfolio {
    from {
        opacity: 0.5;
        transform: rotate(0deg);
    }

    to {
        opacity: 1;
        transform: rotate(-120deg);
    }
}

@keyframes infoFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.references-grid {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.references-grid article:hover {
    border: 4px solid var(--color-secondary);
}

.section-header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--color-primary);
    padding: 36px 28px 40px;
    flex: 1;

    p {
        margin-bottom: 12px;
    }
}

article:hover {
    svg {
        fill: var(--color-secondary) !important;
    }
}

article h3 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-24);
    line-height: 120%;
    text-align: center;
    color: var(--color-primary);
}

article p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: 120%;
    text-align: center;
    color: var(--color-primary);
}

blockquote {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--color-primary);
}

.section-header article svg {
    margin-bottom: 20px;
}

.section-header article a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.section-header article a:first-of-type {
    font-weight: 700;
    font-size: var(--fs-20);
    margin-top: 0;
}

.section-header article a:nth-of-type(2) {
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
}

.section-header article span {
    font-size: var(--fs-18);
    line-height: 1.65;
    text-align: left;
}

.contact-wrapper {
    background: var(--color-primary);
    clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);

}

.contact-section {
    position: relative;
    padding: 64px max(calc(50% - 720px), 64px);

    color: var(--color-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-heading {
    font-size: 80px;
    font-weight: 900;
    color: var(--color-bg)
}

.contact-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
}

.contact-subtitle {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: var(--fs-24);
    line-height: 120%;
    text-align: center;
    color: var(--color-secondary);
    margin: 0 0 12px;
}

.contact-desc {
    color: var(--color-bg);
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-22);
    line-height: 120%;
    text-align: center;
    margin: 0 0 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3px;

    .form-group {
        position: relative;
        width: 100%;
        max-width: 630px;

        svg {
            position: absolute;
            transform: translate(-50%, 50%);
            right: 0;
            top: 0;
            pointer-events: none;
        }
    }
}

.form-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.footer-arrow-up {
    svg:hover {
        animation: up 2s linear forwards infinite;
    }
}

@keyframes up {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 0);
    }

}

.form-footer-wrapper button {
    grid-column: 2;
}

.form-footer-wrapper a {
    grid-column: 3;
    justify-self: end;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-btn-none);
    color: var(--color-bg);
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: 120%;
    padding: 14px 12px;
    outline: none;
    width: 100%;
    margin: 4px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 160px;
    margin-bottom: 24px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--color-bg);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--color-bg);
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: 3px solid var(--color-bg);
    border-bottom: 1px solid transparent;

}

.checkbox-label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin-top: 32px;
    margin-bottom: 24px;
    cursor: pointer;
}

.checkbox-label input {
    accent-color: var(--color-primary);
}

.checkbox-label input[type="checkbox"] {
    margin-top: 2px;
    accent-color: var(--color-secondary);

}

.policy-link {
    color: var(--color-secondary);
    text-decoration: none;
}

.form-footer-wrapper button {
    background: transparent;
    border: 4px solid var(--color-btn-none);
    color: var(--color-bg);
    font-size: var(--fs-normal);
    padding: 16px 40px;
    cursor: pointer;
    align-self: center;
    letter-spacing: 0.02em;
    margin-top: 24px;
}

.form-footer-wrapper button:hover {
    background: var(--color-primary);
    border-color: var(--color-bg);
}

.contact-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-logo {
    font-weight: 900;
    font-size: var(--fs-20);
    border: 2px solid var(--color-bg);
    padding: 2px 6px;
}

.footer-copy {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-22);
    line-height: 120%;
    color: var(--color-bg);
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}



.footer-right a {
    color: var(--color-bg);
    text-decoration: none;
    padding: 8px;
}

.footer-right a:hover {
    transform: translateY(-20px);
    filter: drop-shadow(0 0 0.75rem var(--color-secondary));
}

.footer-wrapper-legal {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
}

.footer-legal {
    font-size: 16px;
    color: var(--color-bg);

    a {
        padding: 0 12px;
    }
}

.footer-legal {
    a {
        position: relative;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            right: 12%;
            width: 0;
            height: 2px;
            background-color: var(--color-secondary);
            transition: width 0.2s ease;
        }

        &:hover {
            &::after {
                width: 40%;
            }
        }
    }
}

.footer-legal a {
    color: var(--color-bg);
    text-decoration: none;
}

.required {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #E61C40;
    pointer-events: none;
    display: block;
}

#toast,
#toastError {
    visibility: hidden;
    min-width: 50px;
    height: 50px;
    background-color: #333;
    color: var(--color-bg);
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#toast #img,
#toastError #img {
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: rgb(70, 69, 69);
    color: var(--color-primary);
}

#toast #desc,
#toastError #desc {
    color: var(--color-bg);
    padding: 0 20px;
    white-space: nowrap;
    opacity: 0;
}

#toast.show,
#toastError.show {
    visibility: visible;
    animation: fadein 0.5s forwards,
               expand  0.5s 0.5s forwards,
               stay    3s   1s   forwards,
               shrink  0.5s 4s   forwards,
               fadeout 0.5s 4.5s forwards;
}

#toast.show #desc,
#toastError.show #desc {
    animation: textfadein 0.3s 1s forwards;
}

@keyframes fadein {
    from { bottom: 0;    opacity: 0; }
    to   { bottom: 30px; opacity: 1; }
}

@keyframes expand {
    from { min-width: 50px;  }
    to   { min-width: 400px; }
}

@keyframes stay {
    from { min-width: 400px; }
    to   { min-width: 400px; }
}

@keyframes shrink {
    from { min-width: 400px; }
    to   { min-width: 50px;  }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to   { bottom: 0;    opacity: 0; }
}

@keyframes textfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 1100px) {
    .about-me {
        & .article-svg {
            padding-bottom: 12px;
        }
    }

    .portfolio-left,
    .portfolio-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        width: 100%;
    }

    .project-number {
        display: none;
    }

    .project-info {
        opacity: 1;
        animation: none;
        width: 100%;
        max-width: 500px;
    }
}

@media(max-width:1050px) {
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 990px) {
    .skills-footer-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 840px) {
    .scale-wrapper {
        h1 {
            font-size: var(--fs-78);
        }

        p {
            font-size: var(--fs-45);
        }
    }

    h2 {
        font-size: var(--fs-48);
    }

    .seperator-wrapper>h4 {
        font-size: var(--fs-24);

    }

    .name {
        padding-left: 16px;
    }

    .about-me {

        .about-me-content {
            flex-direction: column;
            align-items: center;
        }

        .article-svg {
            padding-bottom: 12px;
        }
    }

    .about-me-left {
        width: 100%;
    }

    .arrow-right-side>svg {
        width: 150px;
        height: 150px;
    }

    .arrow-left-side>svg {
        width: 150px;
        height: 150px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 0;
    }

    .skills-footer-wrapper {
        flex-direction: column;
    }


    .references-grid {
        flex-direction: column;
    }

    .portfolio-left:hover,
    .portfolio-right:hover {
        & .project-arrow {
            display: none;
        }
    }

    .menu-item {
        a {
            font-size: var(--fs-78);
        }
    }
}

@media (max-width: 550px) {

    #aboutME,
    #portfolio {
        scroll-margin-top: 20vh;
    }

    #portfolio {
        scroll-margin-top: 20vh;
    }

    #mySkills {
        scroll-margin-top: 25vh;
    }

    .left-side {
        svg {
            width: 45px;
        }
    }

    .header-main {
        padding-top: 120px;
    }

    .contact-heading {
        padding-top: 62px;
        font-size: var(--fs-48);
    }

    .contact-inner {
        margin-top: 40px;
    }

    .contact-footer {
        gap: 24px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .footer-left {
        align-items: center;
    }

    .footer-wrapper-legal {
        justify-content: center;
    }

    .checkbox-label {
        align-items: center;
    }

    .skills {
        padding: 0;
        align-items: center;
    }

    .skills h2 {
        width: fit-content;
    }

    .skills-footer {
        flex-direction: column;
        padding-top: 32px;
    }

    .about-me-left {
        article {
            padding: 0;
        }
    }

    .project-image {
        width: clamp(200px, 80%, 500px);
    }

    .section-header {
        & h2 {
            font-size: var(--fs-48);
        }
    }

    .overlay-nav {
        padding-top: 120px;
    }

    .overlay-icons {
        justify-content: center;
    }

    .form-footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 92px;
    }
}

@media (max-height: 1000px) {
    .scroll-wrapper {
        transform: translateY(-230px);
    }
}

@media(max-height: 980px) {
    .overlay-nav {
        gap: 20px;
    }
}

@media (orientation: landscape) and (max-width: 1220px) {
    .header-main {
        margin-top: 60px;
    }
}

@media (orientation: landscape) and (max-width:700px) {
    header {
        padding: 16px;
    }

    .overlay-nav {
        gap: 54px;
        padding-top: 24px;
    }

    .rotate {
        writing-mode: inherit;
        transform: inherit;
    }

    .main-footer {
        flex-grow: inherit;
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
    }

    .scroll-wrapper {
        transform: translateY(-100px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    main section {
        animation: fade-in 1s linear forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%
    }

    @keyframes fade-in {
        from {
            transform: scale(0.8);
            opacity: 0.0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}